

/*style for the main div*/
.main_div{

    background-color: whitesmoke;
    align-content: flex-start;
    justify-content: left;
    flex-grow: initial;
    border-radius: 20px;
}

/*style for the book list*/
.book_list{

    /*background-color: darkgrey;*/
    justify-content: normal;
    border-radius: 20px;

}

/*style for the book title*/
.book_title{

    color: black;
    font-weight: bold;
    font-size: 16px;
}

/*style for the book subtitle*/
.book_subtitle{

    color: grey;
    font-weight: lighter;
    font-size: 14px;
    font-style: italic;
}

/*style for the book author list*/
.author_list{

    /*background-color: white;
    border-radius: 20px;*/

}

/*style for the author*/
.book_author{

    color: cyan;
    font-size: 12px;
}

/*style for the book price*/
.book_price{

    color: red;
    font-size: 10px;
    font-style: italic;
}

/*style for line separator*/
hr.solid{

    border-top: 3px solid black;
}